<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
            </files>
        </defaultDocument>
        </system.webServer>
    </location>
</configuration>
